.toppage
  .header
    - if user_signed_in?
      .mypage
        = link_to mypage_path(current_user.id), class: 'mypage--btn' do
          マイページ
    - else
      .login
        = link_to user_session_path, class: 'login--btn' do
          ログイン
      .registration
        = link_to new_user_registration_path, class: 'registration--btn' do
          新規登録
  .main
    - if user_signed_in?
      .message
        では右下の「answer」ボタンを押して、
        %br あなたの悩みを消していきましょう
    - else
      %h3.welcome
        %i 〜 Welcome 〜
      .message
        あなたの悩みを
        %b "すとれすけしごむ"
        を使って
        %br 消していくアプリです
        %br では新規登録から始めていきましょう
