.toppage
  .header
    - if user_signed_in?
      .mypage
        = link_to mypage_path(current_user.id), class: 'mypage--btn' do
          マイページ
    - else
      .login
        = link_to user_session_path, class: 'login--btn' do
          ログイン
      .registration
        = link_to new_user_registration_path, class: 'registration--btn' do
          新規登録
  .main
    - if user_signed_in?
      .message
        では右下の「回答する」ボタンを押して、
        %br あなたに合った記事を探しにいきましょう
    - else
      %h1.message
        ようこそ
      .message
        では新規登録からやりましょう
