.article
  .article-proposal
    あなたに最適な記事はこちら！！
    .article-proposal__url
      -if @total == 3
        = @article.url

  .home-buttton
    = link_to root_path, class: 'home-buttton--btn' do
      toppage