.article
  .article-proposal
    あなたに最適な記事はこちら！！
    .article-proposal__url
      - @message.each do |m|
        = m.memo

  .home-buttton
    = link_to root_path, class: 'home-buttton--btn' do
      toppage

