.article
  .article-proposal
    みんなからのすとれすけしごむです
    %br このけしごむであなたの悩みを消していきましょう
    .article-proposal__opinion
      - @message.each do |m|
        %li
          = m.memo

  .home-buttton
    = link_to root_path, class: 'home-buttton--btn' do
      toppage

