.main-chat
  .main-chat__header
    .main-chat__header__group-info
      .main-chat__header__group-info__member-list
        Member：

  = form_with model: @message, local: true do |f|
    .main-chat__list
      = f.text_area :memo, size: "60x5", class: "memo-box"

      .answer
        = f.submit "回答する", class: "answer-box"
