.answer
  = form_with model: @message, local: true do |f|

    .main-chat__list
      .first-box_answer
        = f.collection_select :category_id,Category.all, :id, :name,{include_blank: "選択してください"},  {class: "details_select"}

    .answer
      = f.submit "回答する", class: "answer-box"


