.Mypage
  .profile-header
    プロフィール
  .profile-name
    .profile-name__icon
      = icon('far', 'user-circle fa-2x', class: 'user-icon')
      .profile-name__form
        = @users.name
  .mypage__logout
    =link_to destroy_user_session_path, method: :delete, class:"Mypage__logout--btn" do
      log out