.mypage_a  
  %main.mypage-contents.clearfix
    .main-p
      .profile-form
        .profile-header
          %h3 プロフィール
        .profile-detail
        = form_for '#', method: :patch, html:{class:"personal-input-form" } do |form|

          .profile-name
            .profile-name-detail
              .profile-name__img
                = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "user-img"
                .profile-name__form
                  = @users.name
      .mypage-nav-list
        =link_to new_mypage_path, class: "mypage-nav-list-item" do
          ログアウト