// ログイン画面
.loginPage {
  width: 100%;
  margin: 60px 0px;
  padding: 60px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  h3 {
    font-weight: bold;
  }
  h4 {
    margin: 50px 0 30px 160px;
    font-weight: bold;
  }
}

.loginPage__title {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
  }
  h5 {
    font-size: 18px;
  }
  h5 {
    font-size: 18px;
  }
  .Button {
    display: flex;
    margin-top: 40px;
    color: #fff;
    background-color:#3CCACE;
    justify-content: center;
  }
}

.loginPage__form {
  width: 100%;
  .new_user{
    text-align: center;
  }
}

.FormField {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  &__label--normal {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    br {
      font-size: 11px;
    }
  }
  &__input--normal {
    br {
      font-size: 1px;
    }
    input {
      box-sizing: border-box;
      width: 80vw;
      padding: 10px;
      letter-spacing: 1px;
    }
    &-need {
      background-color: red;
      color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      text-align: center;
      padding-top: 1px;
      margin:0 0 8px 10px;
      width: 36px;
    }
  }
}

.loginactions {
  margin-top: 50px;
  .UserButton {
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    text-decoration: none;
    width: 200px;
    background-color: #3CCACE;
    color: #fff;  
    
    
  }
}

// 新規登録画面
.Customer {
  // display: flex;
  // justify-content: flex-start;

  .FormField_name { 
    // margin: 0 60px 10px 240px;
    // max-width: 600vw;
    height: 100px;
    .birth {   
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
      // margin: 10px 0 0 0;
    .FormField__label--name {
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      height: 30px;
       i {
        font-size: 11px;  
       }
      }
    }
      .FormField__need {
        background-color: red;
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
        text-align: center;
        padding-top: 1px;
        width: 36px;
      }
    .FormField__input--name {
      input {
        box-sizing: border-box;
        width: 80vw;
        padding: 10px;
        letter-spacing: 1px;
        margin-top: 10px;
      }
    }
  }
}

.FormField_name2 { 
  // margin: 0 60px 10px 100px;
  // max-width: 600vw;
  height: 100px;
  .birth {   
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
  .FormField__label--name {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    height: 30px;
     i {
      font-size: 11px;  
     }
    }
  }
    .FormField__need {
      background-color: red;
      color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      text-align: center;
      padding-top: 1px;
      width: 36px;
    }
  .FormField__input--name {
    input {
      box-sizing: border-box;
      width: 80vw;
      padding: 10px;
      letter-spacing: 1px;
      margin-top: 10px;
    }
  }
}
    

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
