// ログイン画面
.AccountPage {
  width: 100%;
  margin: 60px 0px;
  padding: 60px 0px;
  border: 1px solid #ddd;
}

.AccountPage__title {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
  }
  h5 {
    font-size: 18px;
    text-align: center;
  }
}

.AccountPage__form {
  width: 100%;
  .new_user{
    text-align: center;
  }
}

.FormField {
  width: 100%;
  margin-bottom: 10px;
  &__label--normal {
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    i {
      font-size: 11px;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 80%;
      padding: 10px;
    }
  }
}

.actions {
  margin-top: 50px;
  .UserButton {
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    text-decoration: none;
    width: 200px;
    background-color: #3CCACE;
    color: #fff;  
  }
}

// 新規登録画面
.Customer {
  display: flex;
  justify-content: flex-start;

  .FormField_name { 
    margin: 0 60px 10px 240px;
    max-width: 600vw;
    height: 100px;
    .birth {   
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
      margin: 10px 0 0 0;
    .FormField__label--name {
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      height: 30px;
       i {
        font-size: 11px;  
       }
      }
    }
      .FormField__need {
        background-color: red;
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
        padding: 2px 3px;
        width: 36px;
      }
    .FormField__input--name {
      input {
        box-sizing: border-box;
        max-width: 300px;
        padding: 10px;
        letter-spacing: 1px;
        margin-top: 10px;
      }
    }
  }
}

.FormField_name2 { 
  margin: 0 60px 10px 100px;
  max-width: 600vw;
  height: 100px;
  .birth {   
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
  .FormField__label--name {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    height: 30px;
     i {
      font-size: 11px;  
     }
    }
  }
    .FormField__need {
      background-color: red;
      color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      padding: 2px 3px;
      width: 36px;
    }
  .FormField__input--name {
    input {
      box-sizing: border-box;
      max-width: 300px;
      padding: 10px;
      letter-spacing: 1px;
      margin-top: 10px;
    }
  }
}
    // .field_with_errors {
    //   display: inline-block;
    //   color: #d65f4c;
    //   font-weight: 400;
    // }
    // . {
    //   position: relative;

    //   &:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     width: 5px;
    //     background-color: #d65f4c;
    //   }
    // }

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
