.answer {
  font-family: serif;
  text-shadow: 2px 2px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
  background-image: image-url("c.jpg");
  background-size: cover;
  .adler-text {
    font-size: 30px;
    position: relative;
    padding-bottom: 50px;
    font-weight: bold;
    .adler-name {
      font-size: 15px;
      position: absolute;
      right: 5px;

    }
  }
  .discription {
    text-align: center;
  }
  .first-box_answer {
    text-align: center;
    padding-top: 50px;
    .details_select {
      height: 50px;
      width: 200px;
    }
  }

  &-btn {
    text-shadow: 2px 2px 3px black;
    padding-top: 80px;
    text-align: center;
    .answer-box {
      font-family: cursive;
      width: 120px;
      padding: 16px;
      font-size: 25px;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      background-color:rgba(0,0,0,0);
    }
  }
  
}