.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
  background-image: image-url("pexels-marco-milanesi-2670898.jpg");
  background-size: cover;
  .article-proposal {
    text-align: center;
    &__url {
      font-size: 25px;
      font-weight: bold;
      padding: 30px 0px;
    }
  }

  .home-buttton {
    padding-top: 50px;
    &--btn {
      width: 120px;
      padding: 16px;
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}
